@import "tailwindcss" important;
@plugin "@toolwind/corner-shape";

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-900.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-600.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-700.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-800.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/monserrat/montserrat-v31-latin-regular.woff2")
    format("woff2");
  font-weight: 400; /* Regular weight is typically 400 */
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mont:
    "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --breakpoint-xs: 30rem;
  --spacing-section-padding: clamp(3.75rem, 7.82vw, 6.25rem);
  --text-heading: clamp(1.4rem, 5vw, 1.625rem);
  --text-h2: clamp(1.875rem, 5dvw, 3rem);
  --text-heading-v2: clamp(1.625rem, 5vw, 2.5rem);

  --animate-move-to-left: move-to-left 30s infinite linear;
  --animate-move-to-right: move-to-right 30s infinite linear;
  --animate-move-to-top: move-to-top 30s infinite linear;
}

@keyframes move-to-top {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-to-left {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

@keyframes move-to-right {
  from {
    translate: 0;
  }

  to {
    translate: 100%;
  }
}

html::selection {
  background: var(--color-amber-300);
  color: var(--color-neutral-950);
}

.mask-bg-3 {
  mask-image: linear-gradient(to right, transparent, #000 3% 97%, transparent);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.mask-bg-3-vertical {
  /* mask-image: linear-gradient(to bottom,transparent, #000 3% 97%, transparent); */
  mask-image: linear-gradient(to bottom, transparent, #000 3% 97%, transparent);
}
