---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import FAQ from "@components/FAQ.astro";
import about from "@assets/images/about/about-1.png";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "@assets/images/landing.jpg"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from "astro:assets";
import HeroForm from "@components/HeroForm.astro";
import SideBySide from "@components/SideBySide.astro";
const optimizedImage = await getImage({ src: landingImage, format: "avif" });
---

<BaseLayout
  title="About"
  description="Meta description for the page"
  ogImage={optimizedImage}
>
  <HeroForm
    title="Premium Epoxy Flooring in Edmonton"
    subtitle="Transform your concrete surfaces with professional-grade coatings built for beauty, protection, and performance."
    img={landingImage}
  />

  <div class="pt-section-padding">
    <SideBySide
      asSection
      topper="Metallic Epoxy Floors"
      title="Metallic Epoxy Floor Installation in Edmonton"
      body={[
        `Elevate your space with the high‑end look of metallic
    epoxy from Solid Concrete Coating Ltd. Our specialty metallic systems create a deep, three‑dimensional
    finish that can resemble flowing water, molten metal, or clouded skies—perfect for statement‑making residential and commercial interiors in Edmonton.`,
        `
Beyond the luxurious appearance, metallic epoxy delivers the same durability and protection you expect from premium epoxy and polyaspartic coatings: stain
    and abrasion resistance, seamless application, and low maintenance. The glossy, non‑porous surface cleans easily and stands up to everyday wear, making it ideal for showrooms, foyers, rec rooms, studios, and more.
    `,
      ]}
      image={about}
      alt="deck floor"
      alignment="right"
    />
  </div>
  <FAQ class="bg-neutral-100" />
  <CTA />
</BaseLayout>
