---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import cn from "@utils/cn";

type Props = HTMLAttributes<"a"> & {
  label?: string;
  variant?: "primary" | "default";
  showIcon?: boolean;
};

const {
  label = "Get A Free Quote",
  variant = "default",
  href: link = "/contact",
  showIcon = false,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<a
  href={link}
  class:list={cn(
    variant === "primary"
      ? [
          "group inline-flex items-center gap-2 px-8 py-4 font-mont font-bold",
          "border-2 border-primary bg-primary text-fore-dark inset-shadow-border transition-[background-color,color,border-radius] delay-0 duration-400 before:hidden",
          "hover:rounded-lg hover:bg-fore-dark hover:text-fore-light",
          "corner-squircle supports-[corner-shape:squircle]:hover:rounded-[50px]",
          className,
        ]
      : [className],
  )}
  {...rest}
>
  <slot>
    {label}

    {
      showIcon && (
        <Icon
          name="tabler:chevron-right"
          class="size-5 transition-transform duration-400 group-hover:translate-x-2"
        />
      )
    }
  </slot>
</a>
